.promo {
  min-height: 100vh;
  position: relative;
  background: url('../../img/bg_2.png') no-repeat 50% / cover;
  &__wrapper {
    padding: 600px 0 50px 0;
  }
  &__btns {
    margin-top: 25px;
    display: flex;
    align-content: flex-end;
    align-items: center;
    justify-content: space-between;
    width: 250px;
  }
  &__link {
    color: black;
    font-weight: bold;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}
